services:
  navidrome:
    image: deluan/navidrome:0.58.5
    container_name: navidrome
    user: ${PUID}:${PGID}
    ports:
      - "${NAVIDROME_PORT}:4533"
    environment:
      ND_CONFIGFILE: /data/navidrome.toml
      ND_LASTFM_APIKEY: ${LASTFM_APIKEY}
      ND_LASTFM_SECRET: ${LASTFM_SECRET}
      ND_PROMETHEUS_METRICSPATH: ${CUSTOM_METRICS_PATH}
      ND_UILOGINBACKGROUNDURL: /backgrounds
    volumes:
      - "${NAVIDROME_MUSIC_PATH}:/music:ro"
      - "${VOLUMES_PATH}/navidrome:/data"
      - "./configs/navidrome.toml:/data/navidrome.toml:ro"
      - "${BACKGROUNDS_PATH}:/backgrounds:ro"
    networks:
      - navidrome
    restart: unless-stopped

networks:
  navidrome:
    driver: bridge
